@charset "UTF-8";
@font-face {
  font-family: Bankir-Retro;
  src: url(../fonts/Bankir-Retro.woff); }
* {
  margin: 0;
  padding: 0; }

body {
  width: 100%;
  height: 100vh;
  position: relative; }

.strelka {
  width: 2.4630541872vh;
  height: 3.5714285714vh;
  position: fixed;
  bottom: 9.7290640394vh;
  left: 50%;
  margin-left: -1.2315270936vh;
  z-index: 8; }

.fixed {
  position: fixed; }

.opacity0 {
  opacity: 0; }

.music, .video, .reading, .drinks, .shop, .art, .photo, .clothes, .home {
  width: 100%;
  height: 100vh;
  position: fixed;
  bottom: 0; }

.music {
  background: url(../img/back_music.png);
  background-size: 100vw 100vh;
  background-repeat: no-repeat; }

.video {
  background: url(../img/back_video.png);
  background-size: 100vw 100vh;
  background-repeat: no-repeat; }

.reading {
  background: url(../img/back_read.png);
  background-size: 100vw 100vh;
  background-repeat: no-repeat; }

.drinks {
  background: url(../img/back_drinks.png);
  background-size: 100vw 100vh;
  background-repeat: no-repeat; }

.shop {
  background: url(../img/back_shop.png);
  background-size: 100vw 100vh;
  background-repeat: no-repeat; }

.art {
  background: url(../img/back_home.png);
  background-size: 100vw 100vh;
  background-repeat: no-repeat; }

.photo {
  background: url(../img/back_photo.png);
  background-size: 100vw 100vh;
  background-repeat: no-repeat; }

.clothes {
  background: url(../img/back_dres.png);
  background-size: 100vw 100vh;
  background-repeat: no-repeat; }

.home {
  background: url(../img/back_home.png);
  background-size: 100vw 100vh;
  background-repeat: no-repeat; }
  .home .parenek1 {
    width: 38.3004926108vh;
    height: 51.8472906404vh;
    position: absolute;
    bottom: -2.4630541872vh;
    right: -12.0689655172vh; }
  .home .logo {
    width: 33.3743842365vh;
    height: 14.9014778325vh;
    position: fixed;
    display: block;
    top: 18.1034482759vh;
    left: 50%;
    margin-left: -16.6871921182vh; }
  .home h1 {
    font-family: Bankir-Retro;
    font-size: 2.9556650246vh;
    font-weight: 400;
    color: #fff;
    line-height: 4.7081280788vh;
    position: fixed;
    top: 33.7438423645vh;
    left: 50%;
    margin-left: -14.4981527094vh; }
  .home .soc {
    width: 12.5615763547vh;
    height: 3.5714285714vh;
    display: flex;
    justify-content: space-between;
    position: fixed;
    top: 40.8866995074vh;
    left: 50%;
    margin-left: -6.2807881773vh; }
  .home .hz {
    width: 3.5714285714vh;
    height: 3.5714285714vh; }
  .home .vk {
    width: 3.5714285714vh;
    height: 3.5714285714vh; }
  .home .inst {
    width: 3.5714285714vh;
    height: 3.5714285714vh; }

.slide_scroll {
  animation: scroll .4s ease;
  height: 100vh; }

@keyframes scroll {
  0% {
    height: 0; }
  100% {
    height: 100vh; } }
.c-hamburger {
  z-index: 10;
  background: none;
  display: block;
  position: fixed;
  margin: 0;
  padding: 0;
  top: 8.7438423645vh;
  right: 7.912vw;
  width: 4.104679803vh;
  height: 3.3251231527vh;
  font-size: 0;
  text-indent: -9999px;
  appearance: none;
  box-shadow: none;
  border-radius: none;
  border: none;
  cursor: pointer;
  transition: background 0.3s; }

.c-hamburger:focus {
  outline: none; }

.c-hamburger span {
  width: 100%;
  display: block;
  position: absolute;
  height: 0.6157635468vh;
  background: white; }

.c-hamburger span::before,
.c-hamburger span::after {
  position: absolute;
  display: block;
  left: 0;
  width: 100%;
  height: 0.6157635468vh;
  background-color: #fff;
  content: ""; }

.c-hamburger span::before {
  top: -1.2315270936vh; }

.c-hamburger span::after {
  bottom: -1.2315270936vh; }

.c-hamburger--htx span {
  transition: background 0s 0.3s; }

.c-hamburger--htx span::before,
.c-hamburger--htx span::after {
  transition-duration: 0.3s, 0.3s;
  transition-delay: 0.3s, 0s; }

.c-hamburger--htx span::before {
  transition-property: top, transform; }

.c-hamburger--htx span::after {
  transition-property: bottom, transform; }

/* состояние active при открытом меню  */
.c-hamburger--htx.is-active span {
  background: none; }

.c-hamburger--htx.is-active span::before {
  top: 0;
  transform: rotate(45deg); }

.c-hamburger--htx.is-active span::after {
  bottom: 0;
  transform: rotate(-45deg); }

.c-hamburger--htx.is-active span::before,
.c-hamburger--htx.is-active span::after {
  transition-delay: 0s, 0.3s; }

.menu {
  width: 0;
  height: 100vh;
  position: fixed;
  top: 0;
  right: 0;
  background: red;
  overflow: hidden;
  z-index: 9; }
  .menu li {
    list-style-type: none; }

.none {
  display: none !important; }

.open_menu {
  animation: open .4s ease;
  width: 100%; }

.close_menu {
  animation: close .4s ease; }

@keyframes open {
  0% {
    width: 0; }
  100% {
    width: 100%; } }
@keyframes close {
  0% {
    width: 100%; }
  100% {
    width: 0; } }

/*# sourceMappingURL=style.css.map */
