.c-hamburger {
	z-index: 15;
	background: none;
  display: block;
  margin: 0;
  padding: 0;
	top: height(64px);
	right: height(30px);
  width: height(33.33px);
  height: height(22px);
  font-size: 0;
  text-indent: -9999px;
  appearance: none;
  box-shadow: none;
  border-radius: none;
  border: none;
  cursor: pointer;
  transition: background 0.3s;
}
.bur1{
	position: fixed;
}
.bur2{
	position: absolute;
	top: height(64px);
	right: height(30px);
}

.c-hamburger:focus {
  outline: none;
}
.c-hamburger span {
	width: 100%;
  display: block;
  position: absolute;
  height: height(5px);
  background: white;
}

.c-hamburger span::before,
.c-hamburger span::after {
  position: absolute;
  display: block;
  left: 0;
  width: 100%;
  height: height(5px);
  background-color: #fff;
  content: "";
}

.c-hamburger span::before {
  top: height(-10px);
}

.c-hamburger span::after {
  bottom: height(-10px);
}

.c-hamburger--htx span {
  transition: background 0s 0.3s;
}

.c-hamburger--htx span::before,
.c-hamburger--htx span::after {
  transition-duration: 0.3s, 0.3s;
  transition-delay: 0.3s, 0s;
}

.c-hamburger--htx span::before {
  transition-property: top, transform;
}

.c-hamburger--htx span::after {
  transition-property: bottom, transform;
}

/* состояние active при открытом меню  */


.c-hamburger--htx.is-active span {
  background: none;
}

.c-hamburger--htx.is-active span::before {
  top: 0;
  transform: rotate(45deg);
}

.c-hamburger--htx.is-active span::after {
  bottom: 0;
  transform: rotate(-45deg);
}

.c-hamburger--htx.is-active span::before,
.c-hamburger--htx.is-active span::after {
  transition-delay: 0s, 0.3s;
}
