*{
	margin: 0;
	padding: 0;
}
body{
	width: 100%;
	height: 100vh;
	position: relative;
}
.strelka{
	width: height(25px);
	height: height(29px);
	position: fixed;
	bottom: height(68px);
	left: 50%;
	margin-left: height(-13px);
	z-index: 11;
	animation: strelka 1s infinite linear;
	animation-direction: alternate-reverse;
	transition: all ease 1.5s;
	}

.fixed{
	position: fixed;
}
.opacity0{
	opacity: 0;
}
.none{
	display: none;
}

.home{
	.fon{
		background: url(/img/back_home.png);

	}
	.parenek1{
		width: height(311px);
		height: height(421px);
		position: absolute;
		bottom: height(-20px);
		right: height(-98px);
	}
	.logo{
		width: height(271px);
		height: height(121px);
		position: fixed;
		top: height(147px);
		left: 50%;
		margin-left: height(-135.5px);
	}
	h1{
		font-family: Bankir-Retro;
		font-size: height(24px);
		font-weight: 400;
		color: #fff;
		line-height: height(38.23px);
		position: fixed;
		top: height(274px);
		left: 50%;
		margin-left: height(-117.725px);
	}
	.soc{
		width: height(102px);
		height: height(29px);
		display: flex;
		justify-content: space-between;
		position: fixed;
		top: height(332px);
		left: 50%;
		margin-left: height(-51px);
		img{
			width: height(29px);
			height: height(29px);
			position: static;
		}
	}
}
.slide{
	width: 100%;
	height: 100vh;
	position: fixed;
	top: 0;
	background-size: width(375px) height(812px);
	background-repeat: no-repeat;
}

@keyframes strelka{
	0%{
		bottom: height(68px);
	}
	100%{
		bottom: height(50px);
	}
}

.fon{
	width: 100%;
	height: 100vh;
	max-height: 100vh!important;
	position: fixed;
	top: 0;
	background-size: cover!important; 
	background-repeat: no-repeat no-repeat!important;
	animation: reka 30s infinite linear;
	animation-direction: alternate;
}

@keyframes reka{
	0%{
		transform-origin: center;
		transform: scale(1.0);
	}
	100%{
		transform: scale(2);
	}
}
