	.page{
		@media (max-height: 811px) {
    .logo{
       top: height(90px)!important;
  	 }
	}
	@media (min-height: 652px) and (max-height: 654px) {
    .logo{
       top: height(82px)!important;
  	 }
	}
	@media (min-height: 822px) and (max-height: 824px) {
    .logo{
       top: height(85px)!important;
  	 }
	}
	@media (min-height: 719px) and (max-height: 721px) {
    .logo{
       top: height(97px)!important;
  	 }
	}
	@media (min-width: 768px) {
    .logo{
       top: height(99px)!important;
  	 }
		}}