.menu{
	width: 0;
	height: 100vh;
	position: fixed;
	top: 0;
	right: 0;
	background: url(../img/back_menu.png);
	background-size: width(375px) height(812px)!important;
	background-repeat: no-repeat!important;
	overflow: hidden;
	z-index: 12;
	.blur{
		position: absolute;
		top: 0;
		left: 0;
		width: 100%;
		height: 100vh;
		background: rgba(70, 90, 108, 0.88);
		z-index: 8;
	}
	ul{
		position: absolute;
		top: height(120px);
		right: height(30px);
		z-index: 9;
		li{
			list-style-type: none;
			font-family: 'Montserrat';
			font-weight: 900;
			font-style: normal;
			font-size: height(32px);
			line-height: height(39.01px);
			color: #fff;
			margin-bottom: height(28px);
			text-align: right;
			
		}
	}

}

.none{
	display: none!important;
}

.open_menu{
	animation: open .4s ease;
	width: 100%;
}
.close_menu{
	animation: close .4s ease;
}

@keyframes open{
	0%{
		width: 0;
	}
	100%{
		width: 100%;
	}
}

@keyframes close{
	0%{
		width: 100%;
	}
	100%{
		width: 0;
	}
}