.cont_page{
	.page{
	width: 100%;
	height: 100vh;
	position: fixed;
	bottom: 0;
	background: blue;
	text-align: center;
	font-size: 60px;
	z-index: 10;
	}
	.vlevo{
	width: height(20px);
	height: height(29px);
	position: fixed;
	top: height(64px);
	left: height(29px);
	z-index: 11;
	}
	span{
		display: block;
		margin-top: 50%;
	}
}