.menu{
	width: 0;
	height: 100vh;
	position: fixed;
	top: 0;
	right: 0;
	background: red;
	overflow: hidden;
	z-index: 9;
	li{
		list-style-type: none;
	}
}

.none{
	display: none!important;
}

.open_menu{
	animation: open .4s ease;
	width: 100%;
}
.close_menu{
	animation: close .4s ease;
}

@keyframes open{
	0%{
		width: 0;
	}
	100%{
		width: 100%;
	}
}

@keyframes close{
	0%{
		width: 100%;
	}
	100%{
		width: 0;
	}
}